body {
    background-color: rgb(107, 93, 93);
    display:flex;
    align-items: center;

}

h1{
    text-align: center;
    color: silver;
    align-items: center;
}

button{
    height: 40%;
    width: auto;
    color:rgb(0, 0, 0);
    background-color: beige;
    


}

button:active{
    background-color: #80BDE3;
    box-shadow: 5px 5px 6px #CD5C5C;

}
